 
/* ===== Scrollbar CSS ===== */

*::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #f1e9e9;
    border-radius: 2px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #22d4ff;
    border-radius: 3px;
    border: 1px solid #f6f6f6;
  }