body {
    box-sizing: border-box;
    background-color: #000000;
    color: #f6f6f6;
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.menucabecalho {
    display: flex;
    gap: 80px;
}

.linkmenucabecalho {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22d4fd;

}

.titulo-destaque {
    color: #22d4fd;
}

.apresentacao {
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo {
    font-size: 34px;
    font-family: 'Krona One', sans-serif;
}

.paragrafo {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.botao {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.link {
    width: 378px;
    justify-content: center;
    gap: 15px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;  
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: 3px solid #22d4fd;
    display: flex;
}

.foto {
    width: 480px;
    height: 640px;
}

.rede {
    align-items: center;
    font-family: 'Krona One', 'sans-serif';
    font-weight: 400;
    font-size: 24px;
}

.link:hover {
    background-color: #272727;
    transform: scale(1.07);
    transition: 0.3s ease-in-out;
}

.rodape {
    padding: 23.64px;
    color: #000000;
    background-color: #22d4fd;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}